:root {
  --bgColor: rgb(40, 43, 42);
  --mainTextColor: #fff;
  --secondaryTextColor: rgb(243, 208, 11);
  --feather: url(../images/feather_dark.svg);
  --arrowLeft: url(../images/arrowLeft_whiteColor.svg);
  --arrowRight: url(../images/arrowRight_whiteColor.svg);
  --deleteBtn: rgb(228, 69, 29);
  --error: rgb(248, 45, 9);
  --success: rgb(9, 248, 89);
}

html {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  position: relative;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: var(--bgColor);
  color: var(--mainTextColor);
  transition: all 0.6s ease-in;
}
.container {
  max-width: 80vw;
  width: 100%;
  min-height: 50vh;
  padding: 50px;
}
.todoTitle {
  position: relative;
  width: max-content;
  padding-right: 60px;
  margin: 0 auto;
}
.todoTitle::after {
  content: "";
  height: 60px;
  width: 60px;
  background-image: var(--feather);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: -1rem;
  top: -1rem;
}
.todoTitle span {
  color: var(--secondaryTextColor);
}
.todoForm {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.todoInput {
  color: var(--mainTextColor);
  font-size: 1.5rem;
  border: none;
  outline: 0;
  background: initial;
  border-bottom: 2px solid var(--mainTextColor);
  padding: 5px 10px;
  margin-bottom: 2rem;
}
.todoInput::placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondaryTextColor);
}
.todoName {
  width: 50%;
}
.todoText {
  width: 97.9%;
}
.addTask {
  align-self: flex-end;
}
.addTask.disabled {
  opacity: 0.2;
}
.addTask_text {
  visibility: hidden;
}
.addTask_text.disabled {
  visibility: visible;
  position: absolute;
  right: -2px;
  bottom: -19px;
  color: var(--error);
  font-size: 0.9rem;
}
.btn {
  cursor: pointer;
  background-color: var(--secondaryTextColor);
  color: var(--mainTextColor);
  border: none;
  outline: 0;
  padding: 0px 60px;
  opacity: 0.8;
  font-size: 2rem;
}
.btn:hover,
.btn:focus {
  opacity: 1;
}
.btn:active {
  transform: scale(0.97);
}

/* menu bar styles, start*/
.menuWrapper {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 50vw;
  transform: translateX(-200px);
}
.menuBarContainer {
  margin-top: 30px;
  padding: 81px 0px 200px;
  position: relative;
  width: 200px;
  height: inherit;
  background-color: var(--mainTextColor);
  clip-path: polygon(0 0, 120% 5%, 120% 70%, 0 100%);
}
.selectItems__title {
  background-color: var(--bgColor);
  color: var(--secondaryTextColor);
  font-size: 1.5rem;
  height: 3rem;
  margin: 0 0 2rem 1.1rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0.1rem 0;
}
.selectItems {
  width: 90%;
  font-size: 1.5rem;
  color: var(--secondaryTextColor);
}
.selectItem {
  background-color: var(--bgColor);
  height: 2.5rem;
  margin-bottom: 0.2rem;
  padding: 0.3rem 10px 0 2rem;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.selectItem:hover,
.selectItem:focus {
  background-color: var(--secondaryTextColor);
  color: var(--bgColor);
  cursor: pointer;
  transform: scale(1.1);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 20% 100%, 0 50%);
  border-right: 10px solid var(--secondaryTextColor);
  padding-top: 0.5rem;
  margin: 0.3rem 0;
}
.selectItem:active {
  opacity: 0.6;
}
.selectThemeBtn {
  position: absolute;
  background-color: var(--secondaryTextColor);
  border: none;
  outline: 0;
  right: -36px;
  top: 31px;
  height: 40px;
  width: 40px;
  font-size: 3rem;
  background-image: var(--arrowRight);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}
.selectThemeBtn.open {
  background-image: var(--arrowLeft);
  width: 100px;
  clip-path: polygon(0 50%, 40% 0, 100% 0, 100% 100%, 40% 100%);
}
/* menu bar styles, end*/

/* task items style, start */
.taskContainerTitle {
  padding-top: 50px;
}
.tasksContainer {
  margin: 0;
  padding: 0;
}
.task {
  list-style: none;
  padding: 15px;
  /* background-color: var(--task_bgColor); */
  box-shadow: 0 1px 10px 1px var(--mainTextColor);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.taskName {
  color: var(--secondaryTextColor);
  margin: 0;
  padding: 0;
}
.taskText {
}
.taskDeleteBtn {
  align-self: flex-end;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 30px;
  border: 0;
  color: var(--mainTextColor);
  background-color: var(--deleteBtn);
  outline: 0;
  cursor: pointer;
}
.taskDeleteBtn:active {
  transform: scale(0.98);
}
/* task items style, end */

/* Error popup styles, start */
.errorPopup {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.popup {
  position: relative;
  margin-top: 200px;
  height: 150px;
  min-width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popupHeader {
  height: 30%;
  background-color: rgb(245, 159, 46);
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}
.popupTitle {
  text-transform: uppercase;
}
.popupText {
  font-size: 1.2rem;
  margin: 15px 0;
  color: #000000;
}
.popupBtn {
  cursor: pointer;
  padding: 5px 30px;
  width: 40%;
  font-size: 1rem;
}
.popupBtn:hover {
  background-color: rgba(88, 197, 88, 0.3);
  outline: 0;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
.popupCloseSymbol {
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgb(226, 71, 43);
  border: none;
  outline: 0;
}
.popupCloseSymbol:hover {
  background-color: rgb(206, 42, 13);
}
/* Error popup styles, end */

/* Registration form styles, start: */
.registrationForm-bg {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}
.registrationForm-container {
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  position: relative;
  height: max-content;
  margin: 15vh 10px;
}
.registrationForm_header {
  background-color: rgba(0, 0, 0, 0.8);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height: 10vh;
  padding: 0 10px;
}
.registrationForm_header h3 {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 20px;
  color: #fff;
  border-bottom: 1px solid rgb(116, 116, 116);
}
.registrationForm_close {
  background: transparent;
  border: 0;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  outline: 0;
  cursor: pointer;
  font-size: 2rem;
}
.registrationForm_close:active {
  transform: scale(0.98);
}
.registrationForm {
  max-width: 100%;
  padding: 0 10px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}
.registrationForm h2 {
  text-align: center;
}
.formFields {
  padding: 10px 0;
  width: 100%;
}
.formFields h2 {
  text-align: center;
  margin-top: 0px;
}
.formFields label {
  font-size: 18px;
}
.formFields input {
  max-width: 400px;
  width: 94%;
  outline: 0;
  border: 1px solid rgb(206, 205, 205);
  border-radius: 4px;
  padding: 5px 10px;
}
.formFields input::placeholder {
  font-size: 16px;
}
.formFields input:focus {
  border-color: #777;
  border: 1px solid #9e9d9d;
  border-radius: 4px;
}
.formFields small {
  visibility: hidden;
}
.submitRegistration {
  width: 100%;
  font-size: 20px;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  outline: 0;
}
.submitRegistration:active {
  transform: scale(0.98);
}

.formFields.error input {
  border-color: var(--error);
}
.formFields.error small {
  visibility: visible;
  color: var(--error);
}

.formFields.success input {
  border-color: var(--success);
}
/* Registration form styles, end */
